<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bqmz001.moneynotes">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="记账本"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".service.ExtendReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bqmz001.moneynotes.EXT_RECV"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".widget.QuickAddWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quickadd_widget_info" />
        </receiver>

        <activity
            android:name=".CustomSearchActivity"
            android:label="@string/title_activity_custom_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomAnalysisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bqmz001.moneynotes.MainActivity" />
        </activity>
        <activity
            android:name=".ManageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoteDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditClassificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditNoteActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>